@model List<MovieRent.Entities.Movies>
@{
    ViewBag.Title = "NewestMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div id="content">
        <form method="post" action="/Home/Index">
            <div class="box">
                <div class="head">

                </div>
                @foreach (var item in Model)
                {
                    <div class="movie">
                        <div class="movie-image"> <span class="play"><span class="name">@item.MovieName</span></span> <a href="#"><img src="@Url.Content(item.ImagePath)" alt="" /></a> </div>
                        <div class="rating" style="color:#F3F5F0">
                            @item.RelaiseDate.Value.ToShortDateString()
                            <span class="ekle">
                                @Html.ActionLink("Detail", "Detail","Home", new { id = item.MovieID }, new { @class = "btn btn-block" })
                            </span>
                        </div>

                    </div>
                }



                <div class="cl">&nbsp;</div>
            </div>
        </form>



    </div>



</div>
